# --- Terraform local state and plan files ---
*.tfstate
*.tfstate.backup
*.tfplan

# --- Terraform working directory ---
.terraform/
.terraform.lock.hcl

# Lambda function zipped code
*lambda-deployment.zip

# dependencies
/node_modules
lambda-code/package-lock.json

# plan & destroy shell script logs
dependency_warnings_*.log